<% link = pagy_link_proc(pagy) %>
<div class="flex items-center justify-between bg-white py-3">
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-tybo-700">
        <%= I18n.t('bo.pagy.showing') %>
        <span class="font-bold"><%= pagy.from %></span>
          <%= I18n.t('bo.pagy.to') %>
        <span class="font-bold"><%= pagy.to %></span>
          <%= I18n.t('bo.pagy.of') %>
        <span class="font-bold"><%= pagy.count %></span>
        <%= I18n.t('bo.pagy.results') %>
      </p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <% pagy.series.each do |item| %>
          <% if item.is_a?(Integer) %>
            <%== link.call(item, item.to_s, 'class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"') %>
          <% elsif item.is_a?(String) %>
            <span class="relative z-10 inline-flex items-center bg-tybo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tybo-600"><%= item %></span>
          <% elsif item == :gap %>
            <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
          <% end %>
        <% end %>
      </nav>
    </div>
  </div>
</div>
