 <%%= simple_form_for [:<%= options[:namespace] %>, <%= class_name.underscore %>], html: { class: "<%= class_name.underscore %> form" } do |f| %>
  <!-- Model columns --> 
  <%- bo_model.column_names.each do |column| -%>
  <%- next if excluded_columns.include?(column.to_sym) || bo_model.reflect_on_all_associations.map(&:foreign_key).include?(column) -%>
  <%%= f.input :<%= column %> %>
  <%- end -%>
  <!-- belongs_to Associations -->
  <%- belongs_to_assoc.each do |association| -%>
  <%%= f.association :<%= association.name %>, collection:  <%= association.class_name %>.all.map { |item| [item.<%=bo_model_title(association.class_name.constantize)%>, item.id] } %>
  <%- end -%>
  <!-- has_one Associations -->
  <%- has_one_assoc.each do |association| -%>
  <%- if association.options[:class_name] == "ActionText::RichText" -%>
  <%%= f.rich_text_area :<%= association.name.to_s.remove('rich_text_' )%> %>
  <%- else -%>
  <%%= f.input :<%= association.foreign_key %>, collection: <%= association.class_name %>.all.map { |item| [item.<%=bo_model_title(association.class_name.constantize)%>, item.id] } %>
  <%- end -%>
  <%- end -%>

  <!-- has_many Associations -->
  <%- has_many_assoc.each do |association| -%>
  <div class="my-5 select">
    <label class="block text-sm font-medium text-gray-700 string optional text-sm font-medium text-gray-600" for="<%= "#{class_name.underscore}_#{association.class_name.underscore}_ids" %>"><%= association.class_name.underscore%></label>
    <%%= f.select :<%= "#{association.class_name.underscore}_ids" %>,
                  <%= association.class_name %>.all.map { |item| [item.<%=bo_model_title(association.class_name.constantize)%>, item.id] },
                  { include_blank: true },
                  multiple: true,
                  data: { controller: 'ts--select' } %>
  </div>
  <%- end -%>
  <%%= render(Forms::SubmitButtonComponent.new) %>
<%% end %>
